body{
  background: url(https://i.pinimg.com/originals/42/48/dc/4248dc2842854731abc80bee7ecb1346.png);
  background-repeat: no-repeat;
  background-size: 2000px 1400px;
}

h1{
  font-family: 'MinecrafterAltRegular';
   font-weight: normal;
   font-style: normal;
  text-align: center;
  color: gray;
  text-shadow: 
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 6px 0 #000,
  1px 6px 0 #000;
}

h2{
   font-family: 'MinecrafterAltRegular';
   font-weight: normal;
   font-style: normal;
  text-align: center;
  color: gray;
  text-shadow: 
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 6px 0 #000,
  1px 6px 0 #000;
}

h3{
  font-family: 'MinecraftiaRegular';
   font-weight: normal;
   font-style: normal;
  text-align: center;
  color:white;
  text-shadow: 
  -2px -2px 0 #000,
  2px -2px 0 #000,
  -2px 2px 0 #000,
  2px 2px 0 #000;
}

h4{
  text-align: center;
  text-decoration: underline red;
  font-family: 'MinecraftiaRegular';
   font-weight: normal;
   font-style: normal;
   text-shadow: 
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#pic{
  border: solid 10px green;
  text-align: center;
  margin-left: 780px;
  margin-right: 780px;
}

table{
  border-color: darkgray;
  background-color: gray;
  color: white;
  font-family: 'MinecraftiaRegular';
   font-weight: normal;
   font-style: normal;
  text-shadow: 
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#font{
  color: green;
}

#home{
  color: red;
}